<html>
  <head>
    <meta charset="utf-8" />

    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      rel="stylesheet"
    />
  </head>
  <body class="m-0 p-0">
    <nav class="flex justify-between pl-20 pr-20 pt-10 bg-black h-80">
        <div class="w-full">
            <div class="absolute top-0 left-0 w-full flex items-center justify-between">
            <!-- Logo -->
            <div class="ml-24 mt-10">
                <img class="h-8" src="/assets/logo.svg" alt="Logo">
            </div>
        
            <!-- Link Div -->
            <div class="flex space-x-6 items-start mt-6">
                <a class="text-white no-underline text-sm font-medium" href="#">Home</a>
                <a class="text-white no-underline text-sm font-medium" href="#">Service</a>
                <a class="text-white no-underline text-sm font-medium" href="#">About</a>
                <a class="text-white no-underline text-sm font-medium" href="#">Rooms</a>
                <a class="text-white no-underline text-sm font-medium" href="#">Contact</a>
            </div>
        
            <!-- Button -->
            <button class="bg-orange-500 border-2 border-orange-500 text-white px-4 py-2 h-12 w-40 mr-20 mt-7">Book</button>
            </div>
        </div>
        
        
        <div class="absolute top-40 left-35 flex">
            <div class="text-white text-5xl font-extrabold uppercase leading-tight break-words mr-24">
                Open the door for a<br> spacious living -
            </div>
            <div class="flex flex-col space-y-4 ml-72">
                <a class="flex items-center text-white text-sm font-medium pb-2 border-b-2 no-underline" href="#">
                    Book a hotel service
                    <span class="ml-9">&#8250;</span>
                </a>

                <a class="flex items-center text-white text-sm font-medium pb-2 border-b-2 no-underline" href="#">
                    Book a hotel service
                    <span class="ml-9">&#8250;</span>
                </a>
                <a class="flex items-center text-white text-sm font-medium pb-2 border-b-2 no-underline" href="#">
                    Book a hotel service
                    <span class="ml-9">&#8250;</span>
                </a>
            </div>
            
            
        </div>
    </nav>
    <div class="relative top-full left-0 w-full overflow-hidden z-[-1]">
        <img class="w-full h-full object-cover" src="/assets/bg1.svg" alt="Description of the image">
    </div>
</body></html>
