@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap');

.bg-img {
    background-image: url('/assets/icon1.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .icon{
    background-color: rgba(255, 117, 0, 0.04);
  }
  .why-des{
    color: rgba(41, 41, 41, 0.50);
  }
  .circle{
    background-color: rgba(255, 117, 0, 1);
  }
  .rating-box{
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 1px 7px 22px rgba(0, 0, 0, 0.10); 
    border-radius: 6px;
  }
  .bg-img2 {
    background-image: url('/assets/bg2.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .bg-img3 {
    background-image: url('/assets/bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .rate1{
    background-image: url('/assets/rating_1.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }