<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
  <title>Tailwind Example</title>
</head>
<body class="bg-gray-200 h-screen flex items-center justify-center">

  <div class="flex items-center justify-center mt-10">
    <div class="h-74 w-733 flex items-center justify-between p-2">
      <!-- Rectangle 1 -->
      <div class="w-171 h-74 flex-shrink-0 flex items-center">
        <div class="w-74 h-74 icon rounded-full bg-img"></div>
        <p class="text-center font-inter font-medium ml-4 text-custom-gray">Welcome<br>Drinks</p>
    </div>
    

      <!-- Rectangle 2 -->
      <div class="w-171 h-74 flex-shrink-0 flex items-center">
        <div class="w-74 h-74 icon rounded-full bg-img"></div>
        <p class="text-center font-inter font-medium ml-4 text-custom-gray">Welcome<br>Drinks</p>
    </div>

      <!-- Rectangle 3 -->
      <div class="w-171 h-74 flex-shrink-0 flex items-center">
        <div class="w-74 h-74 icon rounded-full bg-img"></div>
        <p class="text-center font-inter font-medium ml-4 text-custom-gray">Welcome<br>Drinks</p>
    </div>


      <!-- Rectangle 4 -->
      <div class="w-171 h-74 flex-shrink-0 flex items-center">
        <div class="w-74 h-74 icon rounded-full bg-img"></div>
        <p class="text-center font-inter font-medium ml-4 text-custom-gray">Welcome<br>Drinks</p>
    </div>

    </div>
  </div>
  <div class="mt-139 flex items-center justify-center">
    <div class="font-inter font-extrabold text-45 leading-60 text-custom-black break-words">
      Why You Should
    </div>
    <div class="font-inter font-extrabold text-45 leading-60 text-custom-orange break-words">
      &nbsp;Stay Here
    </div>
</div>
    <div class="mt-6 font-inter font-medium text-16 leading-28 text-custom-black break-words why-des flex items-center justify-center">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor doamet sint. <br>Velit officia consequat.
    </div>
      
<div class="h-636 bg-purple-500 mt-14 ml-6 grid grid-cols-2">
    <div class="flex flex-col">
        <div class="h-167 w-475 flex flex-col items-start">
            <div class="w-50 h-50 rounded-full flex items-center justify-center text-white text-2xl font-inter font-semibold circle">
              1
            </div>
            <div class="mt-2 text-24 text-custom-black font-extrabold font-inter leading-31.93 break-words">
                Provide the best choice of Room.             
            </div>
            <div class="text-16 text-custom-gray mt-3">
                Amet minim mollit non deserunt ullamco est sit aliqua dolor do
                amet sint. Velit officia consequat.            
            </div>
          </div>
          
          <div class="h-167 w-475 flex flex-col items-start mt-10">
            <div class="w-50 h-50 rounded-full flex items-center justify-center text-white text-2xl font-inter font-semibold circle">
              1
            </div>
            <div class="mt-2 text-24 text-custom-black font-extrabold font-inter leading-31.93 break-words">
                Provide the best choice of Room.             
            </div>
            <div class="text-16 text-custom-gray mt-3">
                Amet minim mollit non deserunt ullamco est sit aliqua dolor do
                amet sint. Velit officia consequat.            
            </div>
          </div>
          <div class="h-167 w-475 flex flex-col items-start mt-10">
            <div class="w-50 h-50 rounded-full flex items-center justify-center text-white text-2xl font-inter font-semibold circle">
              1
            </div>
            <div class="mt-2 text-24 text-custom-black font-extrabold font-inter leading-31.93 break-words">
                Provide the best choice of Room.             
            </div>
            <div class="text-16 text-custom-gray mt-3">
                Amet minim mollit non deserunt ullamco est sit aliqua dolor do
                amet sint. Velit officia consequat.            
            </div>
          </div>
    </div>
    <div class="flex">
    <div class="bg-img2 h-636 w-475 ml-auto order-2"></div>
    <div class="absolute bg-img3 h-219 w-397 order-1 mt-52"></div>
    <div class="absolute w-212 h-61 flex-shrink-0 items-center rating-box p-1">
        
            <div class="w-11 h-11 rate1 justify-center"></div>
            <div class="flex flex-col">
            <p class="text-center font-inter font-bold ml-4 text-custom-black whitespace-nowrap">Albert Flores</p>
            <p>
                <span class="text-custom-gray">Give rating</span><span class="text-custom-orange">4.5</span>
            </p>
        </div>
    </div>
    </div>  
</div>

  
  

</body>
</html>
